<%= @environment %>:
  root_ingested_folder: <%= @root_ingested_folder %>
  root_federated_url: <%= @root_federated_url %>
  metadata_service: <%= @metadata_service %>
  jpeg2k_cache: <%= @jpeg2k_cache_mount_point %>
  image_server_url: <%= @image_server_url %>
  system_notification_mail_from: <%= @system_notification_mail_from %>
  system_notification_mail_to: <%= @system_notification_mail_to %>
  system_maintenance_hours: [<%= @system_maintenance_hours %>]