<%= @environment %>:
  adapter: <%= @db_adapter %>
  encoding: <%= @db_encoding %>
  database: <%= @db_database %>
  username: <%= @db_username %>
  password: <%= @db_password %>
  host: <%= @db_host %>
  port: <%= @db_port %>
