## Authorizations
authorizations: &AUTHORIZATIONS
  group_base: <%= @ldap_base %>
  required_groups:
  require_attribute:

## Environment
<%= @environment %>:
  host: nlidc05.nli.ie
  port: 636
  attribute: cn
  base: <%= @ldap_base %>
  ssl: true
  # <<: *AUTHORIZATIONS
