#!/bin/sh

### BEGIN INIT INFO
# Provides:          resque-pool-<%= @app_name %>
# Required-Start:    $local_fs $remote_fs $network
# Required-Stop:     $local_fs $remote_fs $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: resque-pool init script for <%= @app_name %>
# Description:       resque-pool manages the resque workers
### END INIT INFO

shared_dir="/var/www/<%= @app_name %>/shared"

# Specify the user to run as
RUNAS=puppetadmin

case "$1" in
  start|stop|restart)
    CMD=$1
    ;;
  *)
    echo "Usage: $0 {start|stop|restart}"
    exit
esac

if [ -n "$RUNAS" ]; then
  su -c "$shared_dir/resque-pool.sh $CMD" - $RUNAS
else
  $shared_dir/resque-pool.sh $CMD
fi

