"datastream_queue": <%= @resque_pool_workers_datastream_queue%>
"derivative_queue": <%= @resque_pool_workers_derivative_queue%>
#Make sure to NEVER have more than one ingest_queue lisener
#to avoid duplicates at persistance layer.
"ingest_queue": 1
