#!/bin/sh

usage()
{
    echo "Usage: $0 {start|stop|restart|}"
    exit 1
}

[ $# -gt 0 ] || usage

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:<%= @kakadu_path %>

app_name="<%= @app_name %>"
pidfile="/tmp/${app_name}-resque-pool.pid"
app_dir="/var/www/${app_name}/current"
sleep_time_during_restart=5
bundler="/usr/local/rvm/gems/<%= @ruby_version %>/wrappers/bundle"
environment="<%= @environment %>"
stdout_log="${app_dir}/log/resque-pool-master.stdout.log"
stderr_log="${app_dir}/log/resque-pool-master.stderr.log"

case "$1" in
  start)
    echo "Starting resque-pool"
    cd ${app_dir}
    opts="exec resque-pool -d -a ${app_name} -p ${pidfile} -E ${environment} -o ${stdout_log} -e ${stderr_log}"
    echo "${bundler} ${opts}"
    source /usr/local/rvm/environments/default & ${bundler} ${opts}
    ;;
  stop)
      echo "Stopping resque-pool"
      cd ${app_dir}
      PID=`cat ${pidfile} 2>/dev/null`
      kill $PID 2>/dev/null
      sleep 2
      kill -9 $PID 2>/dev/null
      rm -f  ${pidfile}
      echo "STOPPED `date`"
    ;;
  restart)
    $0 stop
    sleep ${sleep_time_during_restart}
    $0 start
    ;;
  *)
    echo "Usage: $0 {start|stop|graceful-stop|quick-stop|restart|reload}"
    exit 1
    ;;
esac
