find /tmp -maxdepth 1 -type f -name "mini_magick*" -amin +<%= @max_tmp_file_age_minutes %> -exec rm '{}' \;
find /tmp -maxdepth 1 -type f -name "sufia*" -amin +<%= @max_tmp_file_age_minutes %> -exec rm '{}' \;
find /tmp -maxdepth 1 -type f -name "*." -amin +<%= @max_tmp_file_age_minutes %> -exec rm '{}' \;
find /tmp -maxdepth 1 -type f -name "*.tiff" -amin +<%= @max_tmp_file_age_minutes %> -exec rm '{}' \;